body {
    color: gainsboro;
}
p {
    color: black;
    font-size: 2em;
}
h1 {
    color: black;
    text-align: center;
    background-color: red;
    
}
ol {
    color: lightseagreen;
    font-weight: 700;

}
h2 {
    color: black;
    background-color: red;
    font-weight: 700;
    text-align: center;
}
